@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .body{
    background-image: url(assets/bg.png);
    font-size: 16px;
  }
  /* Nav Section */
  .nav-section{
    margin: 0px 140px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .nav-logo{
    display: flex;
    gap: 11px;
    align-items: center;
  }
  .nav-logo>img{
    width: 62px;
    height: 62px;
  }
  .nav-logo>h1{
    font-size: 2rem;
  }
  .nav-anchor>a{
   text-decoration: none;
   margin-left: 32px;
   font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
}
.home{
    color: #FEA301;
}
.about{
    color: #01ACFD;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.nav-btn>button{
    background-color: #FEA301;
    border: none;
    padding: 10px;
    color:white;
    border-radius: 12px;
    width: 195px;
    height: 50px;
    font-size:20px;
    font-weight: 600;
}
.nav-btn>i{
    display: none;
}
/* Banner Section */
.banner-section{
    margin: 0px 140px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.banner-info>h1{
font-size: 3.5rem;
font-weight: 700;
line-height: 61px;
text-align: left;
margin-bottom: 24px;
}
.banner-info>p{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #000000;
    margin-bottom: 24px;
}
.btn-primary{
padding: 10px 47px;
border-radius: 12px;
background-color:#111111;
color:white ;
font-size: 1.25rem;
}
/* Curriculum Section */
.curriculum-title>h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 57.5px;
    text-align: center; 
    margin: 70px 0px;
}
.curriculum-cards{
    margin: 0px 140px;
    display: flex;
    gap: 30px;
    flex: 1;
}
.curriculum-cards>div{
    padding: 52px 40px;
    text-align: center;
    flex: 1;
    
    }
    .card-1{
        background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #DEF5FF , #FFFFFF);
    border: 1px solid #DEF5FF;
    box-shadow: 0px 0px 28.3px 0.94px #FFFFFF inset;
    border-radius: 18px;
    }.card-2{
        background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1) , rgb(255, 255, 255));
    border: 1px solid #FFF4DC;
    box-shadow: 0px 0px 28.3px 0.94px #FFFFFF inset;
    border-radius: 18px;
    }.card-3{
        background-color: #FFFFFF;
        background-image: linear-gradient(to bottom, #EEE1FF, #FFFFFF);
        border: 1px solid #F2E8FF;
        box-shadow: 0px 0px 28.3px 0.94px #FFFFFF inset; 
        border-radius: 18px;
    }
.card-1>h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;  
    margin-bottom: 32px;
}.card-2>h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;  
    margin-bottom: 32px;
}.card-3>h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;  
    margin-bottom: 32px;
}
.card-1>p{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #808080; 
    margin-bottom: 32px;
}.card-2>p{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #808080; 
    margin-bottom: 32px;
}.card-3>p{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #808080; 
    margin-bottom: 32px;
}
.card-1>a{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #64C8FF;
}
.card-2>a{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color:#F0AA00;
}
.card-3>a{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color:#8700FF;
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.sidebar>div{
    margin-top: 80px;
    background-color:#FEA301;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 900;
text-align:center;
color: white;
height: 60px;
width: 60px;
display: flex;
justify-content: center;
align-items: center;
}
 /* Stories Section */
.stories-section{
    margin-top: 60px;
    background-image: linear-gradient(to top,rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3));
}

.stories-title>h1{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    }
.stories-cards{
    display: flex;
    column-gap: 20px;
margin: 0px 160px;
}
.story-1{
height: 630px;
}

.story-1{
    background-color: #FFFFFF;
    border-radius: 16px;
    display:flex;
    flex-direction: column;
}
.story-1-img>img{
    border-radius: 16px 16px 0px 0px ;
}
.story-1-description{
padding: 38px;
}
.story-1-description>button{
    width:174.51px;
    height: 47.93px;
    top: 314.14px;
    left: 38.35px;
    padding: 14.38px 18.88px 15.34px 19.17px;
    border-radius: 45px;  
    color: #FFFFFF;  
    background-color: #3CD8E8;
    border: none;
    position: relative;
    top:-60px;
    right: 10px;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.story-2,.story-3,.story-4,.story-5{
    background-color: #FFFFFF;
    border-radius: 12px;
}
.story-2-img > img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
}
.story-3-img > img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
}.story-4-img > img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
}.story-5-img > img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
}
.story-2-description>h3{
    font-size: 1rem;
    font-weight: 700;
    text-align:center;
}
.story-3-description>h3{
    font-size: 1rem;
    font-weight: 700;
    text-align:center;
}.story-4-description>h3{
    font-size: 1rem;
    font-weight: 700;
    text-align:center;
}.story-5-description>h3{
    font-size: 1rem;
    font-weight: 700;
    text-align:center;
}
.story-2-description>button{
    width:174.51px;
    height:38.35px;
    top: 157.81px;
    left: 38.35px;
    padding: 9.59px 18.88px 10.55px 19.17px;
    border-radius: 47px;
    color: #FFFFFF;  
    background-color:#95B226;
    border: none;
    position: relative;
    top:-25px;
    left: 10px;
}
.story-3-description>button{
    width:174.51px;
    height:38.35px;
    top: 157.81px;
    left: 38.35px;
    padding: 9.59px 18.88px 10.55px 19.17px;
    border-radius: 47px;
    color: #FFFFFF;  
    background-color:#5D58F0;
    border: none;
    position: relative;
    top:-25px;
    left: 10px;
}
.story-4-description>button{
    width:174.51px;
    height:38.35px;
    top: 157.81px;
    left: 38.35px;
    padding: 9.59px 18.88px 10.55px 19.17px;
    border-radius: 47px;
    color: #FFFFFF;  
    background-color:#95B226;
    border: none;
    position: relative;
    top:-25px;
    left: 10px;
}
.story-5-description>button{
    width:174.51px;
    height:38.35px;
    top: 157.81px;
    left: 38.35px;
    padding: 9.59px 18.88px 10.55px 19.17px;
    border-radius: 47px;
    color: #FFFFFF;  
    background-color:#95B226;
    border: none;
    position: relative;
    top:-25px;
    left: 10px;
}
.story-2-description,.story-3-description,.story-4-description,.story-5-description{
    padding:0px 30px;
}
.stories-button{
    display: flex;
    justify-content: center;
    margin: 60px 0px 0px 0px;
}
.btn-primary-2{
    padding: 10px 47px;
border-radius: 12px;
background-color:#111111;
color:white ;
font-size: 1.25rem;
}
.footer-section{
    background-color: #01ACFD;
display: flex;
justify-content: space-around;
padding: 120px;
}
.education{
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
}
.education>img{
    width: 82px;
    height: 82px;
}
.education>h1{
font-size: 42.14px;
font-weight: 700;
text-align: left;
}
.footer-para{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF; 
}
.footer-about> h3{
    color: #FFFFFF;
font-size: 1.5rem;
font-weight: 700;
text-align: left;
}
.footer-about>a{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.icon-title>h2{
    color: #FFFFFF;
    font-family: Quicksand;
font-size: 1.5rem;
font-weight: 700;
text-align: left;
}
.icon-container{
    display: flex;
    gap: 8px;
}
@media screen and (max-width:576px) {
    .nav-section{
        margin: 0px 20px;
    }.nav-logo>h1{
        display: none;
    }
    .nav-btn>button{
display: none;
}
.nav-btn>i{
display:inline-block;
font-size: 3rem;
}
    .nav-anchor{
        display: none;
    }

    .banner-section{
        margin: 0px 10px;
        display: flex;
        flex-direction: column-reverse;
    }
.banner-info{
    width: 90%;
}
.curriculum-cards{
    flex-direction: column;
    margin: 0px 20px;
    width: 90%;
}
.sidebar{
    display: none;
}
.container-1{
    display: none;
}
.stories-cards{
    margin:20px;
    width: 90%;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
.footer-section{
    flex-direction: column;
    padding:30px ;
}
}
